.productcard{
    border: 2px solid #6b6d00;
    border-radius: 10px;
    padding: 20px;
    backdrop-filter: blur(3px);
}

.productimg{
    height: 150px;
    overflow: hidden;
    margin-bottom: 20px;
}

.productimg img{
    height: inherit;
    width: auto;
    object-fit: contain;
}

.productcard hr{
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
}